// button
button {
	&[type='primary'] {
		background-color: $uni-color-primary;
	}
	&[disabled] {
		&[type='primary'] {
			background-color: $uni-color-primary;
			&::after {
				background-color: rgba(255, 255, 255, 0.5);
			}
		}
	}
	&-hover {
		&[type='primary'] {
			background-color: $uni-color-primary;
		}
	}
	&::after {
		border-width: 0;
	}
}

// input
